html {
	height: 100%;
}

#contentwrapper {
	height: 1000px;
	width: 100%;
	border: 1px solid blue;
}

header {
	width: 99%;
	height: 60px;
	border: 1px solid blue;
	margin: 10px;
}

aside {
	float: left;
	background-color: blue;
	width: 20%;
	height: 88%;
	margin: 10px;
}


content {
	float: right;
	
}

footer {
	background-color: green;
	width: 100%;
	height: 50px;
}

header, aside, content {
	display: table;
	text-align: center;
}

	header p, aside p, content p {
		display: table-cell;
		vertical-align: middle;
		color: white;
		font-size: 30px;
	}

	header p {
		color: black;
	}